@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #2d3748;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    border-radius: 4px;
}

@layer utilities {
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hidden {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

.popup {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 50;
    background-color: black;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    word-break: break-word;
    width: 100%;
    text-align: center;
}

.group:hover .popup {
    opacity: 1;
    pointer-events: auto;
}

.scroll-container {
    overflow-y: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.scroll-style {
    display: flex;
    flex-direction: column;
}

.scrollable-sidebar {
    flex-direction: column;
    height: 100vh;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
}

.scrollable-sidebar::-webkit-scrollbar {
    display: none;
}